/* App wide styling */

.font {
  font-family: 'Droid Sans', sans-serif;
}

.pointer:hover {
  cursor: pointer;
}

.panel-default > .panel-heading {
  background-image: linear-gradient(to bottom,#175373 0,#175373 100%) !important;
  color: white !important;
}

.dark-link {
  color: #175373 !important;
}

.app-header {
  color: #175373;
}

.default-sub-header-height {
  height: 3vh;
}

.inline-block-style {
  display: inline-block;
}

.default-list-height {
  height: 30vh;
}

.grey-text-color {
  color: #777;
}

@media ( min-width: 831px ) and ( max-width: 1270px ) {
  .responsive-header {
    font-size: 1.5em;
  }
}

@media ( min-width: 768px ) and ( max-width: 831px ) {
  .responsive-header {
    font-size: 1.25em;
  }
}

/* Partitions styling */

.individual-partition-container {
  margin-top: 2em;
}

.partition-icon {
  margin-right: 20px;
  color: #175373;
}

/* Root styling */

#root-container {
  margin-top: 5vh;
}

/* Directory List styling */

#list-of-files {
  margin-top: 20px;
  height: 45vh;
  overflow: scroll;
  border: 1px solid black;
  text-align: left;
}

@media ( max-width: 1440px ) {
  .default-list-height {
    height: 70vh;
  }
}

.folder-icon {
  margin-right: 10px;
  color: #175373;
}

.individual-document-container {
  color: #3E92CC;
  padding: 3px;
}

.document-icon {
  margin-right: 10px;
  color: #3E92CC;
}

.hidden {
  display: none !important;
}

li.bread-crumb.pointer::before {
  color: #3E92CC !important;
}

/* Documents to Submit styling */

#submit-document-count-sub-header p {
  color: #175373;
  margin: 0 auto;
}

#submit-document-list {
  height: 33vh;
  overflow: scroll;
}

@media ( max-width: 1440px ) {
 .default-list-height {
    height: 70vh;
  }

  #submit-document-list {
    height: 45vh;
    overflow: scroll;
  }
}

/* Button styling */

/*#add-button {
  margin-top: 15em;
}*/

#add-button-container {
  display: inline-block;
  position: relative;
  float: right;
}

#cancel-add-button {
  margin-top: 2em;
}

/*@media ( max-width: 1440px ) {
  #add-button {
    margin-top: 12em;
  }
}

@media ( max-width: 767px ) {
  #add-button {
    margin-top: 5em;
  }

  #add-button-container {
    margin-bottom: 8em;
  }
}*/

.primary-button-color {
  background-image: linear-gradient(to bottom,#0E6BA8 0,#0E6BA8 100%) !important;
  background-color: #0E6BA8;
  color: #fff;
  transition: color .5s ease !important;
}

.primary-button-color:active {
  background-image: linear-gradient(to bottom,#0E6BA8 0,#0E6BA8 100%) !important;
}

.primary-button-color:hover,
.primary-button-color:focus {
  background-image: linear-gradient(to bottom,#fff 0,#fff 100%) !important;
  background-color: #fff !important;
  color: #0E6BA8;
}

.disabled-button-color[disabled] {
  background-image: linear-gradient(to bottom,#0E6BA8 0,#0E6BA8 100%) !important;
  background-color: #0E6BA8;
  color: #fff;
}

.disabled-button-color[disabled]:active {
  background-image: linear-gradient(to bottom,#0E6BA8 0,#0E6BA8 100%) !important;
}

.disabled-button-color[disabled]:hover,
.disabled-button-color[disabled]:focus {
  background-image: linear-gradient(to bottom,#0E6BA8 0,#0E6BA8 100%) !important;
  background-color: #0E6BA8;
  color: #fff;
}

.cancel-button-color {
  background-image: linear-gradient(to bottom,#B92C28 0,#B92C28 100%) !important;
  background-color: #B92C28;
  color: #fff;
  transition: color .5s ease !important;
}

.cancel-button-color:active {
  background-image: linear-gradient(to bottom,#B92C28 0,#B92C28 100%) !important;
}

.cancel-button-color:hover,
.cancel-button-color:focus {
  background-image: linear-gradient(to bottom,#fff 0,#fff 100%) !important;
  background-color: #fff !important;
  color: #B92C28;
}

.remove-button {
  background-color: transparent;
  border: none;
  color: #b92c28;
}

.remove-button:focus {
  outline: 0;
}

/*#back-button-container {
  height: 3vh;
}

#back-button {
  background-color: transparent;
  border: none;
}

#back-button:focus {
  outline: 0;
}
*/

/* Form styling */

.form-center {
  text-align: center !important;
}

.interval-input {
  width: 50%;
  margin: 0 auto;
}