/* App wide styling */
body {
  background-color: #F5F5F5;
}

.font {
  font-family: 'Droid Sans', sans-serif;
}

.pointer:hover {
  cursor: pointer;
}

.panel-default > .panel-heading {
  background-image: linear-gradient(to bottom,#175373 0,#175373 100%) !important;
  color: white !important;
}

.inline-block-style {
  display: inline-block;
}

.default-sub-header-height {
  height: 3vh;
}

/* Default List styling */

.default-list-height {
  height: 67vh;
}

.default-document-list {
  margin-top: 50px;
  height: 45vh;
  overflow: scroll;
  border: 1px solid #175373;
  border-radius: 1%;
}

/* Color */

.app-header {
  color: #175373;
}

.grey-text-color {
  color: #777;
}

.dark-link {
  color: #175373 !important;
}

/* General styling media queries */

@media ( max-width: 1440px ) {
  .default-list-height {
    height: 80vh;
  }
}

@media ( min-width: 831px ) and ( max-width: 1270px ) {
  .responsive-header {
    font-size: 1.5em;
  }
}

@media ( min-width: 768px ) and ( max-width: 831px ) {
  .responsive-header {
    font-size: 1.25em;
  }
}

/* Partitions styling */

.individual-partition-container {
  margin-top: 2em;
}

.partition-icon {
  margin-right: 20px;
  color: #175373;
}

/* Root styling */

#root-container {
  margin-top: 5vh;
}

/* Directory List styling */

#list-of-files {
  text-align: left;
}

.folder-icon {
  margin-right: 10px;
  color: #175373;
}

.individual-document-container {
  color: #3E92CC;
  padding: 3px;
}

.document-icon {
  margin-right: 10px;
  color: #3E92CC;
}

.hidden {
  display: none !important;
}

li.bread-crumb.pointer::before {
  color: #3E92CC !important;
}

/* Documents to Submit styling */

#submit-document-count-sub-header li {
  color: #175373;
  margin: 0 auto;
}

.individual-submit-document-container {
  text-align: right;
}

.individual-submit-document-container > h4 {
  display: inline-block;
}

/* General Button styling */

.primary-button-color {
  background-image: linear-gradient(to bottom,#0E6BA8 0,#0E6BA8 100%) !important;
  background-color: #0E6BA8;
  color: #fff;
  transition: color .5s ease !important;
}

.primary-button-color:active {
  background-image: linear-gradient(to bottom,#0E6BA8 0,#0E6BA8 100%) !important;
}

.primary-button-color:hover,
.primary-button-color:focus {
  background-image: linear-gradient(to bottom,#fff 0,#fff 100%) !important;
  background-color: #fff !important;
  color: #0E6BA8;
}

.disabled-button-color[disabled] {
  background-image: linear-gradient(to bottom,#0E6BA8 0,#0E6BA8 100%) !important;
  background-color: #0E6BA8;
  color: #fff;
}

.disabled-button-color[disabled]:active {
  background-image: linear-gradient(to bottom,#0E6BA8 0,#0E6BA8 100%) !important;
}

.disabled-button-color[disabled]:hover,
.disabled-button-color[disabled]:focus {
  background-image: linear-gradient(to bottom,#0E6BA8 0,#0E6BA8 100%) !important;
  background-color: #0E6BA8;
  color: #fff;
}

.cancel-button-color {
  background-image: linear-gradient(to bottom,#B92C28 0,#B92C28 100%) !important;
  background-color: #B92C28;
  color: #fff;
  transition: color .5s ease !important;
}

.cancel-button-color:active {
  background-image: linear-gradient(to bottom,#B92C28 0,#B92C28 100%) !important;
}

.cancel-button-color:hover,
.cancel-button-color:focus {
  background-image: linear-gradient(to bottom,#fff 0,#fff 100%) !important;
  background-color: #fff !important;
  color: #B92C28;
}

/* Specific Button styling */

#add-button-container {
  display: inline-block;
  position: relative;
  float: right;
}

#cancel-add-button {
  margin-top: 2em;
}

.remove-button {
  background-color: transparent;
  border: none;
  color: #b92c28;
  display: inline-block;
}

.remove-button:focus {
  outline: 0;
}

#submit-document-list-button-container {
  margin-top: 15px;
}

/* Form styling */

.form-center {
  text-align: center !important;
}

.interval-input {
  width: 50%;
  margin: 0 auto;
}
